@use "./variables.scss" as *;

.about__text {
    font-style: Semi Bold;
    font-size: 60px;
    font-weight: 600;
    font-size: 60px;
    line-height: 125%;
    color: #403f3d;
}
.about__box {
}
.about__img {
}
