.header__box {
    .header__link-logo:hover .header__logo {
        transform: scale(1.1);
    }
    .header__link-logo {
        .header__logo {
            transition: all 0.5s ease;
        }
    }
}

.header__burger {
    color: inherit;
    position: relative;
    a {
        position: relative;
        font-weight: 600;
        &::after {
            transform: scaleX(1) !important;
        }
    }
}

@media (max-width: 900px) {
    .header__burger {
        &::after {
            display: none;
        }
    }
}
.header__burger-dark {
    &::after {
        background: #e1d4c9;
    }
}
